[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework-simplejwt = "*"
django = "*"
pillow = "*"
djangorestframework = "*"
psycopg2 = "*"
django-cors-headers = "*"
rest-framework-simplejwt = "*"
django-extensions = "*"
idna = "*"
certifi = "*"
sci-kit = "*"
learn = "*"

[dev-packages]

[requires]
python_version = "3.13"
